{% extends 'blog_page.html' %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}


        {% block main %}
            <main class="col-md-8">
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a style="color: rgb(81,153,107);font-family: 'Adobe 楷体 Std R'" href="#"><h2><strong>{{ post.title }}</strong></h2></a>
                        </h1>
                        <div class="entry-meta">
                            <button class="btn btn-primary btn-xs"><a style="color: white;font-family: 'Times New Roman';" href="#">{{ post.category.name }}</a></button>
                            <button class="btn btn-success btn-xs"><a style="color: white;font-family: 'Times New Roman';"  href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">{{ post.created_time }}</time></a></button>
                            <button class="btn btn-info btn-xs"><a style="color: white;font-family: 'Times New Roman';"  href="#">{{ post.author }}</a></button>
                            <button class="btn btn-warning btn-xs"><a style="color: white;font-family: 'Times New Roman';"  href="#">4 评论</a></button>
                            <button class="btn btn-danger btn-xs"><a style="color: white;font-family: 'Times New Roman';"  href="#">{{ post.views }} 阅读</a></button>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {{ post.content|safe }}
                    </div>
                </article>

            <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-4">
                          <label for="{{ form.name.id_for_label }}">名字：</label>
                          {{ form.name }}
                          {{ form.name.errors }}
                        </div>
                        <div class="col-md-4">
                          <label for="{{ form.email.id_for_label }}">邮箱：</label>
                          {{ form.email }}
                          {{ form.email.errors }}
                        </div>
                        <div class="col-md-4">
                          <label for="{{ form.url.id_for_label }}">URL：</label>
                          {{ form.url }}
                          {{ form.url.errors }}
                        </div>
                        <div class="col-md-12">
                          <label for="{{ form.text.id_for_label }}">评论：</label>
                          {{ form.content }}
                          {{ form.content.errors }}
                          <button type="submit" class="comment-btn">发表</button>
                        </div>
                      </div>    <!-- row -->
                    </form>
                    <ul class="comment-list list-unstyled">
                      {% for comment in comment_list %}
                      <li class="comment-item">
                        <span class="nickname">{{ comment.name }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <div class="text">
                          {{ comment.content }}
                        </div>
                      </li>
                      {% empty %}
                      暂无评论
                      {% endfor %}
                    </ul>
                </section>
            </main>
            {% endblock main %}

            {% block catalogue %}
                <div class="widget widget-content">
                    <h3 class="widget-title">文章目录</h3>
                    {{ post.toc|safe }}
                </div>
                {% endblock %}


