{#Base_page:the first page to show when open the website#}
<!DOCTYPE html>
<html lang="zh-Hans">
{% load staticfiles %}

<head>
    <title>{% block title %}Cool!Hack!{% endblock %}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagcloud.css' %}">

    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/tagcloud.min.js' %}"></script>
</head>

{% include "includes/top_menu.html" %}

<div class="container">
  <div class="jumbotron" >
    <h1 style="text-align: center;font-family: 'Microsoft YaHei UI'"><strong>Cool! 极客</strong></h1>
    <p style="text-align: center;">编程、科技、游戏聚集地，分享最新科技，探讨编程技术</p>
  </div>
    <div class="well" style=" padding-bottom: 0px; padding-top: 0px;">
        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-sm-4"> </div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-2">
                <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                  <input type="search" name="q" placeholder="搜索" required>
                  <button type="submit"><span class="ion-ios-search-strong"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>

<body>
{% block body %}
{% endblock %}

<script type="text/javascript">
    tagcloud();
</script>
</body>

</html>